*{
    box-sizing: border-box;
}

.ext1{
    background-color: red;
    width: 1800px;
   
}

.int1{
    background-color: aqua;
    width: 400px;
   
    margin-bottom: 50px;
    float:left;
}

.int2{
    background-color:blue;
    width: 400px;
   
    float:right;
}

