*{
    box-sizing: border-box;
}

.clearfix { 
    clear: both; 
}

.ext1{
    /*background-color: red;*/
    width: 1000px;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid black;
}

.int11{
    background-color: aqua;
    width: 100px;
    height: 100px;
    float: left;
  
}

.int12{
    background-color:rgb(108, 108, 170);
    width: 100px;
    height: 100px;
    float:right;
}

.ext2{
    margin-top: 20px;
    /*background-color: red;*/
    width: 1000px;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid black;
}

.int21{
    background-color: aqua;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 50px;
}

.int22{
    background-color:rgb(68, 68, 134);
    width: 50px;
    height: 50px;
    float:left;
    margin-right: 50px;
    margin-top: 25px;
}

.int23{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    float:left;
    margin-right: 50px;
    margin-top: 25px;
}    

.int24{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    float:left;
    margin-right: 50px;
    margin-top: 25px;
}

.int25{
    width: 50px;
    height: 50px;
    background-color: rgb(72, 72, 173);
    float:left;  
    margin-right: 50px;
    margin-top: 25px;
}

.ext3{
    margin-top: 20px;
    /*background-color: red;*/
    width: 1000px;
    vertical-align:top;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    border: 3px solid black;
}

.int31{
    background-color: aqua;
    width: 100px;
    height: 100px;
    float:left;
    margin-left: 20px;
}

.num_reverse1{
    float:right;
}

.num_reverse2{
    float:left;
}

.int32{
    background-color:rgb(81, 81, 158);
    width: 100px;
    height: 100px;
    float:left;
    margin-left: 20px;
}

.int33{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    float: left;
    margin-right: 20px;
}

.int34{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    float: left;
    margin-right: 20px;
}

.ext4{
    margin-top: 20px;
    /*background-color: red;*/
    width: 1000px;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid black;
}

.int41{
    background-color: aqua;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

.center{
    width: 600px;
    margin:auto;
    /*background-color: darkgoldenrod;*/
}
.int42{
    background-color:rgb(88, 88, 148);
    width: 200px;
    height: 80px;    
    margin-bottom: 40px;
}

.int43{
    width: 200px;
    height: 80px;
    background-color: blueviolet;
    
}

.ext5{
    margin-top: 20px;
    /*background-color: red;*/
    width: 1000px;
    margin-left: 100px;
    margin-top: 20px;
    border: 3px solid black;
}

.int51{
    background-color: aqua;
    width: 200px;
    height: 200px;
    float:left;
}

.right{
    width: 420px;
    float:right;
    /*background-color:darkgreen;*/
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.int52{
    background-color:rgb(88, 88, 148);
    width: 200px;
    height: 80px;    
    margin-bottom: 40px;
}

.int53{
    width: 200px;
    height: 80px;
    background-color: blueviolet;
}