*{
    box-sizing: border-box;
}

.ext1{
    background-color: red;
    width: 1800px;
    display: inline-block;
    vertical-align:top;
    padding-top:10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.int11{
    background-color: aqua;
    width: 100px;
    height: 100px;
    float:left;
}

.int12{
    background-color:blue;
    width: 100px;
    height: 100px;
    float:right;
}

.ext2{
    background-color: red;
    width: 1800px;
    display: inline-block;
    vertical-align:top;
    padding-top:10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.int21{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 900px;
}

.int22{
    background-color:blue;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.int23{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    display: inline-block;
}

.int24{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    display: inline-block;
}

.ext3{
    background-color: red;
    width: 1800px;
    display: inline-block;
    vertical-align:top;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.int31{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 900px;
}

.int32{
    background-color:blue;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.int33{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    display: inline-block;
}

.int34{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    display: inline-block;
}

.ext4{
    background-color: red;
    width: 1800px;
    display: inline-block;
    vertical-align:top;
    padding-top:10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.int41{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 900px;
}

.int42{
    background-color:blue;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.int43{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    display: inline-block;
}

.ext5{
    background-color: red;
    width: 1800px;
    display: inline-block;
    vertical-align:top;
    padding-top:10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.int51{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 900px;
}

.int52{
    background-color:blue;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.int53{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    display: inline-block;
}
